<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PhoenixBin</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <!--<body class="debug-grid-16">-->
  <body>
    <header class="bb b--black-10 pv2 pl3">
      <a href="/" class="f4 link w3 dark-orange">
        <i class="icon-trashcan" aria-hidden="true"></i> PhoenixBin
      </a>
      <div class="dib ml3 mt0-2">
        <iframe src="https://ghbtns.com/github-btn.html?user=samuba&repo=phoenixbin&type=star&count=true" 
          frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </div>
    </header>

    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
