<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PhoenixBin</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="h2 bb b--black-10 h-auto pv2 pl3">
      <a href="/" class="f4 b link w3 dark-orange">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        PhoenixBin
      </a>
    </header>

    <%= render @view_module, @view_template, assigns %>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="//use.fontawesome.com/a3404830f4.js"></script>
  </body>
</html>
