<div class="tc">
  <div class="gradient-orange mt6 pv4 white">
    <h2 class="f2">Inspect HTTP Requests</h2>
    <p>Create a Webhook URL to live-track and inspect requests that were send to it.</p>
  </div>


  <a href="generate" class="dib mt5 f4 link ph4 pv2 
                            white bg-orange 
                            br2 bw1 bb b--black-20">
    Create Webhook
  </a>
</div>