<div class="home_jumbotron jumbotron">
  <h2>Welcome to PhoenixBin</h2>
  <p class="lead">A livereloading requestBin clone implemented in elixir/phoenix</p>
</div>

<center class="content">
  <a href="generate" class="btn btn-primary btn-lg">Generate Request Page</a>
</center>