.bg-orange-gradient { background-image: radial-gradient( circle at 50% 50%, #F67938 29%, #EF4734 120%); }

.bg-orange { background-color: #f57338; }
.orange { color: #f57338; }

.dark-orange { color: #eb5236 }

.shadow-6 { box-shadow: 3px 3px 6px 0 rgba( 0, 0, 0, .2 ); }
.shadow-7 { box-shadow: 3px 3px 6px 1px rgba( 0, 0, 0, .14 ); }
.shadow-inset { box-shadow:inset 1px 1px 1px 1px rgba(0,0,0,.075); }

.hover-bg-dark-orange:hover { background: #dc6732; }
.hover-bg-dark-orange:focus { background: #f57338; }

.f4-1{font-size:1.20rem}
.f4-2{font-size:1.15rem}
.f4-3{font-size:1.05rem}

.mt0-1 { margin-top: .05rem; }
.mt0-2 { margin-top: .10rem; }
.mt0-3 { margin-top: .15rem; }
.mt0-4 { margin-top: .20rem; }

.pt0-1 { padding-top: .05rem; }
.pt0-2 { padding-top: .10rem; }
.pt0-3 { padding-top: .15rem; }
.pt0-4 { padding-top: .20rem; }