.gradient-orange {
    background-image: radial-gradient( circle at 50% 50%, #F67938 29%, #EF4734 120%);
}

.bg-orange {
    background-color: #f57338;
}

.dark-orange {
    color: #eb5236
}

.shadow-6 { box-shadow: 3px 3px 6px 0 rgba( 0, 0, 0, .2 ); }